:root {
    --main-bg-color: rgb(60, 61, 133);
    --main-txt-color: rgb(238, 255, 244);
}

body{
    font-family: sans-serif;
    max-width: 600px;
    margin:auto
}
img{
    padding:1em;
    border-radius: 25px;
    filter: drop-shadow(2px 2px 2px rgb(28, 29, 80));
}
header{
    background-color: var(--main-bg-color);
    display:grid;
    grid-template-columns:auto 1fr;
    border-radius: 25px;
    box-shadow: 10px 10px 5px#cfcccc;
}
h1 {
    
    background-color: var(--main-bg-color);
    color:var(--main-txt-color);
    align-self: center;
    justify-self:center;
    text-shadow: 2px 2px 2px rgb(28, 29, 80);
}
h2 {
    padding:10px;
    border-bottom:solid;
}

footer{
    background-color: var(--main-bg-color);
    text-align:center;
    color:var(--main-txt-color);
    box-shadow: 10px 10px 5px#cfcccc;
    border-radius: 25px;
    padding: 1px;
    font-size: large;
    text-shadow: 2px 2px 2px rgb(28, 29, 80);
}

ul{
    padding-bottom:1em;
    border-bottom:solid;
}

@media screen and (max-width: 500px) {
    header {
        display:block;
    }
  }