:root {
  --main-bg-color: rgb(60, 61, 133);
  --main-txt-color: rgb(238, 255, 244);
  --h2-bg-color: rgb(31, 29, 141);
  --p-bg-color:rgb(31, 29, 141);
}

/*
font-kerning
letter-spacing
line-height
*/
section {
  background-color: rgb(245, 240, 240);
  border-style: solid;
  display: grid;
  grid-template-rows: 60px 50px 50px auto auto;
  box-shadow: 10px 10px 5px#cfcccc;
  align-items: center;
}
body {
  margin: auto;
  font-family: "Orelega One", cursive;
}

img {
  max-width: 80%;
  padding: 1em;
  border-radius: 25px;
  filter: drop-shadow(2px 2px 2px rgb(28, 29, 80));
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: var(--main-bg-color);
  justify-content: center;
  box-shadow: 10px 10px 5px#cfcccc;
  margin-bottom: 10px;
}

h1 {
  font-size: 1.5rem;
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
  text-align: center;
  text-shadow: 2px 2px 2px rgb(28, 29, 80);
  padding-left: 1rem;
}

h2 {
  font-size: 1rem;
  padding: 10px;
  background-color: var(--h2-bg-color);
  /*color: var(--main-txt-color);*/
  color: rgb(245, 240, 240);
}

h1,
h2,
h3 {
  font-family: "Luxurious Roman", cursive;
}

footer {
  background-color: var(--main-bg-color);
  text-align: center;
  color: var(--main-txt-color);
  box-shadow: 10px 10px 5px#cfcccc;

  padding: 1px;
  font-size: 1rem;
  text-shadow: 2px 2px 2px rgb(28, 29, 80);
  margin-top: 10px;
}

ul {
  padding-bottom: 1em;
  border-bottom: solid;
}
p {
  padding: 1rem;
}

h3 {
  padding: 10px;
}
a {
  padding: 10px;
}

section p{
  background-color: var(--h2-bg-color);
  color: rgb(245, 240, 240);
  align-self: end;
}
nav{
  margin: 0 auto;
  color: white;
  text-align: center;
  box-shadow: 0 2px 15px gray;
}
a:visited{
  color:white;
}