:root {
  --backgroundYellow: #e7d24d;
  --textDarkBlue: #001294;
  --textLightBlue: #5e7ce2;
  --accentColor1: #cfccd6;
  --accentColor2: #6a2e35;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "DM Serif Text", serif;
}
body {
  font-family: "Arial", sans-serif;
  background-color: var(--accentColor1);
  max-width: 600px;
  margin: auto;
  color: var(--textDarkBlue);
}
header, footer{
  background-color: var(--backgroundYellow);
  justify-items: center;
}
header{
  display: grid;
  grid-template-rows: 160px 60px 1fr 5.5em 2em;

}
/* set up positions for each div element in the header*/
#iconDiv {
  grid-row: 1;
  grid-column: 1;
}
.headerFbook {
  grid-row: 2;
}
.headerLinkedin {
  grid-row: 2;
}
#navDiv {
  grid-row: 3;
  width:100%;
}
#headingDiv {
    grid-row: 4;
  }
#dateDiv {
  grid-row: 5;
}
#hamburgerBtn {
  margin: 0.2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.6);
  grid-row: 1;
}

/* display the hamburger or x */
#hamburgerBtn span:nth-child(1) {
  display: block;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

/*default the nav to hidden*/
header nav {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
#primaryNav {
  display: none;
  font-size: larger;
}
#primaryNav.open {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: center;
  text-align: center;
  background-color: var(--backgroundYellow);
}
#primaryNav li {
    margin: 0.2rem 2vw;
}
header h1 {
  text-align: center;
  color: var(--textDarkBlue);
}
#primaryNav li a {
    display: block;
    text-align: center;
    padding: 0.75rem;
    font-size: 0.95rem;
    /*transition: 0.5s;*/
  }

#currentDate {
  text-align: center;
  margin: 0;
  color: var(--accentColor2)
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--textLightBlue);
  font-weight: bold;
}
nav ul li.active a {
  background-color: rgba(81, 80, 139, 0.4);
  color: var(--accentColor2);
  border-radius: 2px;
}

nav a:hover, #hamburgerBtn:hover{
  background-color: var(--textDarkBlue);
  color: var(--backgroundYellow);
  font-weight: bold;
  
}
#availableTemples img{
  max-width:100%;
  
}



#availableTemples{
  /*max-width: 90vw;
  position: relative;*/
  /*max-width:90%;*/
  margin: auto;
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.mySlides {
  display: none;
}

.templeCards{
  max-width: 80%;
  position: relative;
  margin: auto;
}

.templeCard{
  border-style:solid;
  /*display:flex;*/
  flex-direction: column;
  align-items: center;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 2em;
  padding: 8px 12px;
  position: absolute;
  top: 15px;
  width: 100%;
  text-align: center;
	text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}



#navigationBar{
  height:2em;
  /*border-style: solid;*/
  /*width:350px;*/
}
.prev, .next {
  cursor: pointer;
  width: auto;
  margin: 15px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.weatherinfo{
  display:grid;
  grid-template-rows: auto;
  margin-top:10px;
}

.weatherForecast{
  margin-top:-10px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding:0;
}
.weatherForecast h4{
  margin-bottom:-10px;
}



#homeMain img{
  max-width: 100%;
}

#reservation{
  position:relative;
}
#reservationHeader{
  color:white;
  position:absolute;
  top:10%;
  left:20px;
  text-shadow: -1px 1px 0 #000,
  1px 1px 0 #000,
 1px -1px 0 #000,
-1px -1px 0 #000;
}

Button{
  font-family : inherit;
  color:var(--accentColor2);
  background-color: var(--backgroundYellow);
  padding:.5em;
  border-radius: 30px;
  border-width: 3px;
  border-color: var(--textDarkBlue);
  font-style: bold;
}

#reservationButton{
  position:absolute;
  bottom:10%;
  right: 20px;

  
}

#services{
  margin:10px;
  text-align: center;
  font-size: larger;
}

.footerIcon{
  display:none;
}
.directionDiv, .contactUsDiv{
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
}
.socialDiv{
  display:flex;
  flex-direction:row;
  justify-content: center;
  margin-top:10px;

}
footer{
  display:flex;
  flex-direction: column;

}

.contactUsDiv p, .directionDiv p{
  margin:0;
}